.table-wrapper{
  width: 100%;

  height: 400px;
  margin-top: 20px;
}
.table {
  overflow-x: auto;
  display: grid;
}
.table::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}

.table::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.table::-webkit-scrollbar-thumb:hover {
  background: #777;
}


.table-header-cell {
  color: #ada9a3;
  padding: 8px 12px;
  border-bottom: 0.5px solid #333;
  /* border-right: 0.5px solid #333; */
  cursor: pointer;
  &:hover{
    background-color: #262626;
  }
}

.table-cell {
  max-height: 36px;
  padding: 8px 12px;
  border-bottom: 0.5px solid #333;
  border-right: 0.5px solid #333;
  padding-inline: 8px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
}
