.table-wrapper {
  font-family: Inter, sans-serif;
  margin-top: 40px;
  width: 100%;
  overflow-x: auto;
}

.table-grid {
  display: grid;
  grid-auto-rows: 36px;
  overflow: hidden;
}

.table-header {
  display: contents;
}

.table-header-cell {
  min-height: 36px;
  display: flex;
  align-items: center;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: #ada9a3;
  border-right: 0.2px solid #333;
  border-bottom: 0.2px solid #333;

  &:hover{
    background-color: #262626;
  }
}
.table-header-cell:last-child {
  border-right: none;
}

.table-row {
  display: contents;
}

.table-cell {
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  background-color: transparent;
  
  border-bottom: 0.2px solid #333;
  border-right: 0.2px solid #333;
  
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.table-cell:last-child {
  border-right: none;
}