.audio-tabs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
}

.audio-tab.active {
  background-color: #30302e;
  color: #fff;
}

.audio-tab{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #ada9a3;
  background-color: transparent;
  padding-inline: 12px;
  padding: 6px 12px;
  height: 32px;
  border-radius: 20px;

  span{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  }

  svg{
    display: flex;
    align-items: center;
  }

  &:hover{
    background-color: #30302e;
  }
}