.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* background-color: transparent !important;  */
}

.search-dialog{
    position: absolute;
    top: 50%; 
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 500px;
    background: rgba(105, 105, 105, 0.091);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 0.1px solid #303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.search-dialog .search-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
  width: 100%;
  height: 40px;

  svg{
    fill: #9b9b9b;
  }

  input{
    font-size: 18px;
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;

    &::placeholder{
      color: #9b9b9b;
    }

    &:focus-visible{
      border: none;
    }
  }
}

.sorting-section{
  width: 100%;
  flex: 0.15;
  border-bottom: 1px solid #303030;
}

.search-results{
  width: 100%;
  flex: 1;
}