.comment-list{
    width: 20%;
    min-width: 250px;
    max-width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    scrollbar-width: none;
    gap: 6px;

    .comment-list-header{
        width: 100%;
        height: 30px;
        display: flex;
        padding: 4px;
        align-items: center;
        justify-content: flex-start;

        span{
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #fff;
            font-weight: 600;
            border-radius: 20px;
            padding: 2px;
            padding-inline: 24px;
        }

        .comment-status.status-Not-started{
            background-color: #64635e;
        }
        
        .comment-status.status-Done {
            background-color: #386c4e;
        }

        .comment-status.status-In-Progress {
            background-color: #356292;
        }
    }
}