.comments-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    .comments-container-header{
        width: 100%;
        border: 1px solid #303030;
        background-color: #202020;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    form{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        textarea{
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                        Helvetica, Arial, sans-serif, "Apple Color Emoji",
                        "Segoe UI Emoji";
            width: 100%;
            min-height: 38px;
            max-height: 160px;
            background-color: transparent;
            border: none;
            color: #fff;
            resize: none;
            font-size: .9375rem;
            font-weight: 400;
            line-height: 1.6;

            &:focus{
                outline: none;
            }
        }

        .form-footer{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button{
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #303030;
                background-color: transparent;
                border-radius: 50%;

                svg{
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .comments-list-container{
        display: flex;
        align-items: start;
        flex-direction: row;
        gap: 20px;
    }
}
