.comments-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.comments {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
}

.comment-textarea {
  min-height: 80px;
  height: auto;
  border-radius: 8px;
  background-color: #212121;
  border: 1px solid #303030;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: normal;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.comments-textarea-input {
  flex: none;
  height: 40px;
  all: unset;
}

.textarea-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    resize: none;
}

.comments-textarea-actions {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.submit-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #202020bd;
  border: 1px solid #303030;
  color: #fff;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #2a2a2a;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.comment {
  background-color: #212121;
  border: 1px solid #303030;
  border-radius: 8px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: border 0.2s;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.comment-header .comment-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-weight: 600;

    span{
      font-size: 14px;
    }

    .date-span{
      font-size: 12px;
      color: #ffffff82;
    }
}

.audio-edit-actions{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.comment-more-button {
    background: none;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    opacity: 0;
    transition: 0.2s ease;
    
    svg{
        width: 16px;
        height: 16px;
        stroke: #ccc;
    }
}

.comment:hover .comment-more-button {
  opacity: 1;
}

.comments-content {
  margin-top: 6px;
}

.content {
  color: #eaeaea;

  span{
    font-size: 14px;
    font-weight: 500;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    word-break: break-word;
  }
}

.comments-sidebar {
  flex: 1;
  background-color: #212121;
  border: 1px solid #303030;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;
}

.sidebar-box h4 {
  margin: 0;
  font-size: 14px;
}

.sidebar-box span {
  font-size: 12px;
  opacity: 0.7;
}

.sidebar-box button {
  width: 100%;
  background: #202020;
  border: 1px solid #303030;
  border-radius: 6px;
  padding: 6px;
  color: #fff;
  cursor: pointer;
}

.sidebar-box button:hover {
  background-color: #2a2a2a;
}
