.toast-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  max-width: 350px;
  padding:  10px;
  padding-inline: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  animation: slideIn 0.3s ease;
  background-color: #202020;

}

.toast-success {
  border: 1px solid #3e7857;
}

.toast-error {
  border: 1px solid #55312e;
}

@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
