.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
  width: 340px;
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


.subtitle {
  color: #6b6b6b;
  margin-bottom: 20px;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 6px;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
    color: #2c2c2b;
    font-weight: 500;
}

.divider {
    position: relative;
    margin: 20px 0;
    text-align: center;
}

.divider span {
    background: #fff;
    padding: 0 10px;
    font-size: 12px;
    color: #999;
}

.divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: #e5e5e5;
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    label {
        font-size: 13px;
        font-weight: 500;
    }

    input {
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #dcdcdc;
        font-size: 14px;
    }

    input:focus {
      outline: none;
      border-color: #000;
    }
}

.primary {
  margin-top: 10px;
  padding: 10px;
  background: rgb(35, 131, 226);
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding-inline: 12px;
}

.primary:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error {
  color: #d93025;
  font-size: 13px;
}

.footer-text {
  margin-top: 18px;
  font-size: 13px;
  text-align: center;
}

.footer-text a {
  color: #000;
  font-weight: 500;
}
