.liked-audio{
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 6px;

    span{
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        padding: 4px;

        .audio-date{
            margin-left: 8px;
            font-size: 13px;
            color: #616161;
        }
    }
}

.audio-card {
    width: 100%;
    height: 100%;
    background-color: #252525;
    padding: 10px;
    box-sizing: border-box;
    border: 0.5px solid transparent;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    
    &:hover{
        border: 0.1px solid #303030;
    }
}

.card-lower{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #616161;

    button{
        background: none;
        border: none;
        color: #616161;
        padding: 4px;
        padding-inline: 8px;
        border-radius: 1000px; 
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {         
            width: 22px;
            height: 22px;
        }
    }
}