.audio-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    width: 100%;
    height: auto;
    transition: 0.1s ease;

    .title-container{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        
        span{
            font-size: 12px;
            color: #aaaaaa;
        }
    }

    .open-audio-player{
        padding: 4px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        svg{
            width: 18px;
            height: 18px;
            font-size: 18px;
            cursor: pointer;
        }
    }

    &:hover{
        background-color: #262626;
    }
}