.audio-details-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 120px;
}

.audio-details-main{
    width: 90%;
    margin-top: 70px;
    .audio_title{
        font-size: 20px;
        font-weight: 600;
        color: #f0efed;
        margin-bottom: 10px;
    }
    .audio-upper-section{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        button{
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 4px;
            padding: 8px;
            font-size: 14px;
            font-weight: 400;
            border-radius: 6px;
            padding-inline: 8px;
            line-height: 1.2;
            color: #7d7a75;
            background-color: transparent;
            transition: 0.1s ease;
            opacity: 0;
            pointer-events: none;
            transform: translateY(4px);
            svg{
                width: 16px;
                height: 16px;
                fill: #7d7a75;
            }
            &:hover{
                background-color: #2c2c2b;
            }
        }
    }
    .audio-title{
        display: flex;
        align-items: center;
        height: 60px;
        gap: 10px;
        .title{
            font-size: 2rem;
            font-weight: 700;
            padding-inline: 2px;
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
        }
    }
    .audio-transcription-tag{
      display: flex;
      align-items: center;
      padding: 2px;
      width: 100%;
      height: 36px;
      p{
        font-size: 14px;
        font-weight: 600;
      }

    }

    .audio-details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #333;
        padding: 4px;
        color: #f0efed;
        font-size: 12px;
        line-height: 1.5;
        button{
            display: flex;
            align-items: center;
            padding: 6px;
            font-size: 14px;
            font-weight: 400;
            border-radius: 6px;
            color: #7d7a75;
            background-color: transparent;
            transition: 0.1s ease;

            svg{
                width: 14px;
                height: 14px;
                fill: #ccc;
            }
            &:hover{
                background-color: #2c2c2b;
            }
        }
    }
    .custom-audio-player-wrapper{
        width: 100%;
        box-sizing: border-box;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.audio-details-main:hover .audio-upper-section button {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.288);
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-box {
  background-color: #1f1f1f;
  border: 1.4px solid #383836;
  padding: 20px 25px;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 200px;
  z-index: 1010;
}

.dialog-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.confirm-btn {
  background-color: transparent;
  color: #df6257;
  border: 1px solid #55312e;
  padding: 8px 14px;
  padding-inline: 20px;
  border-radius: 6px;
  cursor: pointer;
  &:hover{
    background-color: #55312e;
  }
}

.cancel-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #333;
  padding: 8px 14px;
  padding-inline: 20px;
  border-radius: 6px;
  cursor: pointer;
  &:hover{
    background-color: #333;
  }
}
