.audio-details-main{
    min-width: 80%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    .audio_title{
        font-size: 20px;
        font-weight: 600;
        color: #f0efed;
        margin-bottom: 10px;
    }
    .audio-title{
        display: flex;
        align-items: center;
        height: 60px;
        gap: 10px;
        .title{
            font-size: 36px;
            font-weight: 700;
            padding-inline: 2px;
        }
    }
    .audio-details{
        /* background-color: #1a1a1a;
        border: 0.1px solid #303030;
        border-radius: 8px; */

        background-color: #494949;
        padding: 20px;
        color: #f0efed;
        font-size: 16px;
        line-height: 1.5;
    }
}