.container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.container-upload-main{
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  .audio-upper-section{
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-top: 100px;
  }
  .audio-upload-title{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px;
    width: 100%;
    height: 60px;
    min-height: 50px;
    background-color: #1f1f1f;
    h1{
      border: none;
      outline: none;
      caret-color: black;
      color: #fff;
    }
  }

  .audio-file-upload{
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 100%;
    height: 300px;
    min-height: 280px;
    p{
      font-size: 12px;
      font-weight: 500;
      color: #ada9a3;
    }
    .file-upload-box{
      width: 100%;
      height: 100%;
      background-color: #1f1f1f;
      border-radius: 12px;
    }
  }
}
