.select-button{
    padding: 10px;
    background-color: transparent;
    border: 1px solid #565656;
    border-radius: 4px;
    transition: 0.2s ease;

}
.select-button:hover{
    color: #000000;
    cursor: pointer;
    border: 1px solid #a6a6a6;
}
.select-button.selected {
    background-color: #2783de;
    border: 1px solid #2783de;
}