.audio-details-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 120px;
}

.audio-details-main{
    width: 80%;
    margin-top: 70px;

    .audio-upper-section{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
        background: transparent;
        
        button{
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 4px;
            padding: 6px;
            font-size: 12px;
            font-weight: 400;
            border-radius: 6px;
            padding-inline: 8px;
            line-height: 1.2;
            color: #7d7a75;
            background-color: transparent;
            transition: 0.1s ease;
            opacity: 0;
            pointer-events: none;
            transform: translateY(4px);
            
            svg{
                width: 20px;
                height: 20px;
            }
            &:hover{
                background-color: #2c2c2b;
            }
        }
    }
    .audio-title{
        display: flex;
        align-items: center;
        height: 60px;
        gap: 10px;

        .title{
            font-size: clamp(1.4rem, 4vw, 1.9rem);
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
            outline: none;
            
            input{
              display: flex;
              align-items: center;
              font-size: 2rem;
              font-weight: 700;
              background-color: transparent;
              border: none;
            }

        }
    }
    .audio-transcription-tag{
      display: flex;
      align-items: center;
      padding: 2px;
      width: 100%;

      span{
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 10px;
      }

    }

    .audio-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        color: #f0efed;
        font-size: 12px;
        line-height: 1.5;

        .audio-actions{
          display: flex;
          align-items: center;
          gap: 10px;
          button{
              display: flex;
              align-items: center;
              padding: 6px;
              font-size: 14px;
              font-weight: 400;
              border-radius: 6px;
              color: #7d7a75;
              background-color: transparent;
              transition: 0.1s ease;

              svg{
                  width: 20px;
                  height: 20px;
              }
              &:hover{
                  background-color: #2c2c2b;
              }
          }
          .save-btn{
            display: flex;
            align-items: center;
            gap: 4px;
            padding-inline: 18px;
            font-size: 12px;
          }
        }
    }
    .audio-details{
      margin-top: 10px;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .custom-audio-player-wrapper{
        width: 100%;
        box-sizing: border-box;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.audio-details-main:hover .audio-upper-section button {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}