.details-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.filtation-section{
    width: 100%;
    height: 46px;
    background-color: #fff;
}
.filtation-section{
    display: flex;
    align-items: center;
    justify-content: start;
}
.selection-box{
    min-width: 70px;
    height: 30px;
    border: 1px solid #565656;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 14px;
    color: #2783de;
}
.audio-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}