.empty-state {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.empty-state-inner {
  max-width: 380px;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
}

.empty-icon {
  color: #8b8b8b;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.empty-state .empty-state-title {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff83;
  margin-bottom: 10px;
}

.empty-state span {
  font-size: .9375rem;
  color: #9a9a9a;
  font-weight: 600;
  line-height: 1.6;
}

.empty-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;

}
.primary-empty-state-btn,
.secondary-btn {
  border: 1px solid #303030;
}

.primary-empty-btn {
  text-decoration: none;
  background: #2783de;
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.secondary-btn {
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 13px;
  color: #9a9a9a;
  text-decoration: none;
  background-color: transparent;
}

.secondary-btn:hover {
  color: #cfcfcf;
}
