.filter-container-header {
  width: 100%;
  height: 36px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  border-bottom: 0.5px solid #303030;
  background-color: transparent;

  button{
    display: flex;
    align-items: center;

  }
}

.filter-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
    margin: 15px;
    gap: 6px;
    transition: 0.2s ease;
    display: grid;
    place-items: center;
    color: #97979a;
    border: 1px solid transparent;
    
    &:hover{
      border: 1px solid #2783de;
      background-color: #2783de7e;
    }
    
    svg{
      width: 20px;
      height: 20px;
      fill: #97979a;
    }
}

.display-choosing-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
  width: 100%;
  height: 100px;

  button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #303030;
    background-color: #2e2e2e;
    gap: 4px;
    border-radius: 8px;
    flex: 1;
    padding: 26px;

    svg{
      width: 20px;
      height: 20px;
    }
  }
}