.filter-container-header {
  width: 100%;
  height: 36px;

  display: flex;
  align-items: center;
  gap: 8px;

  border-bottom: 0.5px solid #303030;
  background-color: transparent;

  button{
    display: flex;
    align-items: center;

    &:hover{
      background-color: #2c2c2b;
    }
  }
}

.filter-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 2px;
    border-radius: 6px;
    margin: 15px;
    transition: 0.2s ease;
    display: grid;
    place-items: center;
}