.container-header{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #303030;
  button{
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 2px;
      border-radius: 6px;
      margin: 15px;
      transition: 0.4s ease;
  }
}