.container-header{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #303030;
  .sidebar-button{
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 2px;
      border-radius: 6px;
      margin: 15px;
      transition: 0.4s ease;
  }
  .header-audio-name{
    display: flex;
    align-items: center;
    
    gap: 6px;
    columns: #f0efed;
    height: 24px;
    padding-inline: 8px;
    border-radius: 6px;
    background-color: transparent;
    .header-audio-name-popup{
      display: flex;
      align-items: center;
      justify-content: space-around;
      .popup-input{
        padding: 4px;
        background-color: #313131;
        font-size: 13px;
        border: none;
      }
    }

    &:hover{
      background-color: #2c2c2b;
    }
  }
}

.szh-menu {
  background: #252525;
  border-radius: 10px;
  padding: 6px;
  border: 1px solid #333;
}

.szh-menu__item {
  padding: 8px 14px;
  border-radius: 6px;
  color: #eaeaea;
  font-size: 14px;
}

.szh-menu__item:hover {
  background: #1e1e1e;
}

.szh-menu__item.danger {
  color: #ff5c5c;
}