.container {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-main{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.upper-text-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  padding-top: 20px;
}

.audios-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.audios-scroll-container {
  display: flex;
  gap: 14px;
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: none;
}

.audio-card {
  min-width: 140px;
  background-color: #252525;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 22px;
  border: 0.5px solid transparent;
  text-decoration: none;
  color: #fff;
  &:hover{
    border: 0.1px solid #303030;
  }
}
.card-upper{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.audio-title{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}