.container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.container-main{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.upper-text-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  padding-top: 20px;
}

.audios-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  .no-audios-message{
    width: 100%;
    height: auto;
    article{
      font-size: 20px;
      font-weight: 500;
    }
  }
}
.liked-audios-container{
  margin: -20px;
}

.audios-scroll-container {
  display: flex;
  gap: 14px;
  overflow-x: auto;
  padding: 10px; 
  scrollbar-width: none;
}