.container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container-main{
  width: clamp(320px, 65%, 800px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
}

.upper-text-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;

  .main-text{
    font-size: 28px;
    font-weight: 500; 
  }
}

.audios-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  
  .no-audios-message{
    width: 100%;
    height: auto;
    article{
      font-size: 20px;
      font-weight: 500;
    }
  }
}
.liked-audios-container{
  margin: 0;
}

.audios-scroll-container {
  display: flex;
  gap: 14px;
  overflow-x: auto;
  scrollbar-width: none;
  
}

.audio-player-container {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 32px);
  max-width: 720px;
  height: 72px;

  background: #111;
  border-radius: 16px;
  border: 1px solid #333;

  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 12px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.4);

  z-index: 1000;

  button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s ease;
    padding: 10px;

    svg{
      width: 20px;
      height: 20px;
    }
  }

  .audio-player-controls{
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .audio-waveform-container{
    flex-grow: 1;
    height: 100%;
    /* background-color: #fff; */
  }
}


@media (max-width: 430px) {
  .container-main {
    width: 100%;
    padding: 0;
  }
}