.container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container-main{
  width: clamp(320px, 65%, 800px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.upper-text-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 20px;
  span{
    font-size: 28px;
    font-weight: 500; 
  }
}

.audios-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  .no-audios-message{
    width: 100%;
    height: auto;
    article{
      font-size: 20px;
      font-weight: 500;
    }
  }
}
.liked-audios-container{
  margin: 0;
}

.audios-scroll-container {
  display: flex;
  gap: 14px;
  overflow-x: auto;
  scrollbar-width: none;
  
}


@media (max-width: 430px) {
  .container-main {
    width: 100%;
    padding: 0 8px;
  }
}