.loading-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 10px;

    .logo {
        width: 60px;
        height: 60px;
        background-color: #000;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}