.record-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.record-page-header{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

    button{
        width: 34px;
        height: 34px;
        border-radius: 1rem;
        background-color: transparent;
    }
}

.record-page-main{
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .recording-container{
    flex: 1;
    height: 100%;
    background-color: #424242;
    display: flex;
    align-items: center;
  }

  .recorded-audios-container{
    min-width: 20%;
    max-width: 400px;
    height: 100%;
    background-color: var(--sidebar-bg);
  }
}

.action-bar {

    display: flex;
    align-items: flex-start;
    gap: 14px;
    padding: 12px 18px;

}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-btn {
    width: 44px;
    height: 44px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;

    background: #262626;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    transition: background 0.15s ease, transform 0.1s ease;

    span{
        font-size: 13px;
        font-weight: bold;
    }

    svg{
        width: 20px;
        height: 20px;
        stroke-width: 2;
    }

}

.primary-btn {
    width: 100px;
    height: 44px;
    border-radius: 0.75rem;
    transform: 0.3s ease;

    background: rgba(242, 87, 87, 0.733);
}

.primary-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.primary-btn:disabled svg {
    stroke-width: #cecece;
}

.icon {
  font-size: 18px;
}

.label {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: #8e9095;
}

.volume-wrapper {
  position: relative;
}

.volume-menu {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);

    padding: 8px;

    width: 200px;
    background: rgba(24, 24, 24, 0.95);
    backdrop-filter: blur(12px);

    border-radius: 4px;
    border: 1px solid #303030;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    z-index: 100;
}

.volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: #f2575752;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #F25757;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.volume-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #F25757;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.volume-slider::-moz-range-track {
  height: 4px;
  background: #2c2c2c;
  border-radius: 999px;
}