.upload-panel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-dropzone {
    width: 100%;
    height: 100%;
    min-height: 350px;
    border: 2px dashed #ffffff26;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
    color: #eee;
    font-size: 16px;

    .upload-dropzone-div{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    &:hover{
        border: 2px dashed #fff;
    }

}

.upload-dropzone.drag-over {
    background: #444;
    border-color: #fff;
}

.upload-dropzone.error {
    border-color: #EC5261;
}

.upload-dropzone .upload-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 6px;
    padding-inline: 8px;
    line-height: 1.2;
    color: #7d7a75;
    background-color: transparent;
    transition: 0.1s ease;

    svg{
        width: 16px;
        height: 16px;
        fill: #7d7a75;
    }
    &:hover{
        background-color: #2c2c2b;
    }
}

.upload-btn {
    margin-top: 12px;
    padding: 8px 16px;
    border: none;
    background-color: #1db954;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.upload-btn:hover {
    background-color: #1ed760;
}
