.upload-panel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-dropzone {
    width: 100%;
    height: 100%;
    min-height: 350px;
    border: 2px dashed #ffffff26;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
    color: #eee;
    font-size: 16px;

    .upload-dropzone-div{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    &:hover{
        border: 2px dashed #fff;
    }

}

.upload-dropzone.drag-over {
    background: #444;
    border-color: #fff;
}

.upload-dropzone.error {
    border-color: #EC5261;
}

.upload-dropzone .upload-button{
    background-color: #fff;
    padding: 10px 6px;
    padding-inline: 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 60px;
    line-height: 1.2;
    color: rgb(173, 169, 163);
    background-color: transparent;
    border: 1px solid rgb(173, 169, 163);
    transition: 0.2s ease;

    &:hover{
        background-color: #fff;
        color: #000;
        border-color: #fff;
    }

}

.upload-btn {
    margin-top: 12px;
    padding: 8px 16px;
    border: none;
    background-color: #1db954;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.upload-btn:hover {
    background-color: #1ed760;
}
