.dialog-upload-box{
  background-color: #1f1f1f;
  border: 1.4px solid #383836;
  padding: 14px;
  border-radius: 12px;
  width: 90%;
  max-width: 900px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1010;

  .dialog-upload-header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button{
      background-color: transparent;
      svg{
        width: 20px;
        height: 20px;
      }
    }

  }
  .dialog-upload-section{
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    flex-direction: column;

    article{
        font-size: 28px;
        font-weight: 700;
        color: rgb(233, 231, 228);
    }

    p{
        font-size: 12px;
        color: rgb(173, 169, 163);
    }

  }

  .dialog-upload-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
    .dialog-btn{
      background-color: transparent;
      padding: 8px 14px;
      padding-inline: 20px;
      border-radius: 6px;
      cursor: pointer;
    }

  }

  .cancel-btn {
    color: #fff;
    border: 1px solid #333;
    &:hover{
      background-color: #333;
    }
  }
  .upload-btn{
    color: #2783de;
    border: 1px solid #2783de;
    &:hover{
      background-color: #2783de7e;
    }
  }
} 