button{
    display: flex;
    align-items: center;
    justify-content: start;

    span{
        font-size: 14px;
        font-weight: 500;
        font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    }
}