

:root {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

  color-scheme: light dark;
  color: ffffff;
  background-color: var(--background-color);

  --background-color: #191919;
  --sidebar-bg: #1f1f1f;
  --record-container-bg: #111;
  /* 090909 */
  /* 141414 */
  --sidebar-border: #303030;
  --text-color: #ffffff;
  --text-secondary: #c5c5c5bb;
  --hover-bg: #353535;
  --active-bg: #444;
  --hover-icon-bg: #4e4e4e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus-visible {
  outline: 2px solid rgb(35, 131, 226);
}

* {
  scrollbar-width: auto;
  scrollbar-color: rgba(255,255,255,0.22) transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 999px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.28);
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.38);
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  margin: 0;
  width: 100%;
  max-width: 100%;
}

button{
  border: none;
  cursor: pointer;
}

.error-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  gap: 6px;
  color: #D44C47;
  border: 1px solid #D44C47;

  svg{
    stroke: #D44C47;
    width: 18px;
    height: 18px;
  }
}
