

:root {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

  color-scheme: light dark;
  color: ffffff;
  background-color: var(--background-color);

  --background-color: #191919;
  --sidebar-bg: #202020;
  --sidebar-border: #303030;
  --text-color: #ffffff;
  --text-secondary: #c5c5c5bb;
  --hover-bg: #353535;
  --active-bg: #444;
  --hover-icon-bg: #4e4e4e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

button{
  border: none;
  cursor: pointer;
}
